.App {
    height: 100%;
    width: 100%;
    background-color: aquamarine;
    position: relative;
}

.svg {
    height: 100%;
    width: 100%;
}

#root {
    height: 100vh;
    width: 100vw;
}
.district {
    z-index: 1;
}
.district:hover {
    fill: green;
    cursor: pointer;
}

.data-display {
    padding: 2%;
    width: 50%;
    margin: auto;
    position: absolute;
    left: 25%;
    top: 25%;
    background-color: beige;
}

.display-none {
    display: none;
}

.close-button{
    font-size: 2em;
    width: 10%;
    padding-left: 90%;
}
.close-button:hover{
    cursor: pointer;
}
